.swiper-content{
    width: 98vw;
    height: 42vw;
    margin: 0 10px;
    .swiper-container{
        
        img{
            border-radius: 10px;

            width: 98vw;
            height: 42vw;
        }
    }
}